/*--------------------------------------------------------------------------------------*/
/* 页脚样式 */
#footer {
    background: transparent !important;   /* 页脚设置为透明 */
  }
  /* 页脚字体颜色 */ 
  #footer-wrap {
    position: relative;
    color: #363232;                     /* 页脚字体颜色设置为灰色 */              
    text-align: center;
    padding: 2rem 1rem;
  }
  